{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 35.7707582,
    "longitude": 10.8280511,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Africa/Lagos",
    "external_url": null,
    "internal_url": null,
    "currency": "TND",
    "country": "TN",
    "language": "en",
    "radius": 100
  }
}